.boogle_image {
    margin-top: 200px;
    text-align: center;
}
 
.search {
    margin-top: 25px;
    text-align: center;
}
 
.search input {
    height: 30px;
    width: 500px;
    border-style: transparent;
    border-color: #4169E1;
}
 
.buttons {
    margin-top: 1px;
    text-align: center;
}
 
.buttons button {
    height: 25px;
    width: 200px;
    margin: 5px;
    border-color: #4169E1;
    border-radius: 5px;
}
 
.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: gray;
    opacity: .2;
}
 
.signin button {
    position: fixed;
    top: 0;
    right: 0;
    margin: 5px;
}